html, body {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  --mdc-theme-primary: #006747;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-seconday: #d9f11c;
}

.container li {
  list-style-type: none;
}

.mdc-top-app-bar.top-app-bar--transparent {
  background-color: rgba(0,103,71,0.8);
  transition: 0.25s background ease;
}

#map-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.drawer-main-content {
  overflow: auto;
  height: 100%;
}

.drawer-app-bar {
  position: absolute;
}

.drawer-frame-root {
  display: flex;
}

.route-card {
  border-radius: 4px;
  padding: .5em;
  margin: 1em;
  border-left: 4px solid gray;
  cursor: click;
}

.route-card:hover {
  background-color: rgba(0,0,0,0.1);
}